<launch>

    <node pkg="global_planner" type="global_planner" name="global_planner" output="screen" respawn="false" respawn_delay="0">
        <remap from="~costmap" to="/costmap_node/costmap/costmap"/>
        <remap from="~bounding_boxes" to="/bboxes"/>
        <remap from="~mission_status" to="/mission_status"/>
    </node>

</launch>
